body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #ffffffac;
}

/* Header */
.header {
    background: linear-gradient( 120deg, #9d00f2c0, rgba(134, 8, 175, 0.241));
    color: rgba(255, 255, 255, 0.942);
    text-align: center;
    padding: 40px 20px;
}

.header h1 {
    margin: 0;
    font-size: 40px;
}
.header p {
    margin-top: 10px;
    font-size: 16px;
}
/* Sections */
.section {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}
.section h2 {
    color: #9d00f2;
    margin-bottom: 15px;
}
/* Skills */
.skills span {
    display: inline-block;
    background-color: #9d00f2c0;
    color: rgba(255, 255, 255, 0.733);
    padding: 8px 14px;
    margin: 5px;
    border-radius: 5px;
    font-size: 15px;
}
/* Experience */
.project{
    margin-bottom: 20px;
}
.project h3 {
    margin-bottom: 5px;
    color: #9d00f2f4;
}
.comment-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}
.comment-container h2{
    color: #9d00f2;
}
.comment-container textarea {
    color: black;
    width: 100%;
    min-height: 100px;
    padding: 12px;
    font-size: 14px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 6px;
    outline: none;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
}

.comment-container button {
    margin-top: 15px;
    padding: 12px 30px;
    background-color:#9d00f2c0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.comment-container button:hover {
    background-color: #9d00f2c0;
}

#commentText {
    display: block;
    margin-top: 10px;
    white-space: pre-wrap; /* keeps line breaks */
}

/* Footer */
.footer {
    background-color: #9d00f2c0;
    color: rgba(255, 255, 255, 0.853);
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
