body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #ffffffac;
}

/* Header */
.header {
    background: linear-gradient( 120deg, #9d00f2c0, rgba(134, 8, 175, 0.241));
    color: rgba(255, 255, 255, 0.942);
    text-align: center;
    padding: 40px 20px;
}

.header h1 {
    margin: 0;
    font-size: 40px;
}

.header p {
    margin-top: 10px;
    font-size: 16px;
}

/* Sections */
.section {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

.section h2 {
    color: #9d00f2;
    margin-bottom: 15px;
}

/* Skills */
.skills span {
    display: inline-block;
    background-color: #9d00f2c0;
    color: rgba(255, 255, 255, 0.733);
    padding: 8px 14px;
    margin: 5px;
    border-radius: 5px;
    font-size: 15px;
}

/* Experience */
.job {
    margin-bottom: 20px;
}

.job h3 {
    margin-bottom: 5px;
    color: #9d00f2f4;
}

/* Footer */
.footer {
    background-color: #9d00f2c0;
    color: rgba(255, 255, 255, 0.853);
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
